* {
    box-sizing:border-box;
    font-weight: bold;
    border-style: solid;
}

.layout {
    display:grid;
    height:100vh;
    grid-template:
    "left-column  main-header  right-header"  30px
    "left-column  main-column  right-column"  1fr/
       0.5fr          1.5fr       3fr;
}

.left-column {
    grid-area: left-column;
    background-color: rgb(148, 147, 147);
}

.middle-header {
    grid-area: main header;
    background-color: rgb(148, 147, 147);
}

.main-column {
    grid-area: main-column;
    background-color: whitesmoke;
}

.right-header {
    grid-area: right-header;
    background-color: whitesmoke;
}

.right-column {
    grid-area: right-column;
    background-color: whitesmoke;
    min-width: 100px;
}

