* {
    box-sizing: border-box;
}

.layout {
height: 100vh;
gap:10px;
display: grid;
grid-template:

"header        header          header"            50px
"top-left       top-main        top-right"        50px
"middle-left     main            middle-right"         50px
"left-footer      main            right-footer"    1fr/
  50px              1fr               1fr;

}

.header {
    background-color: aliceblue;
    grid-area: header;
}

.profile {
    background-color: antiquewhite;
    grid-area: top-left;
}

.boolean {
    background-color: aqua;
    grid-area: middle-left;
}

.recent {
    background-color: aquamarine;
    grid-area: left-footer;
}

.search {
    background-color: cadetblue;
    grid-area: top-main;
}

.main {
    background-color: blueviolet;
    grid-area: main;
    min-width: 200px;
    
}

.news {
    background-color: darkkhaki;
    grid-area: top-right;
}

.today {
    background-color: mediumslateblue;
    grid-area: middle-right;
}

.add {
    background-color: beige;
    grid-area:right-footer;
    min-width: 50px;
}

